@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html, body, #root, .App {
  height: 100%;
}

.bg-correct { background-color: #538d4e; }
.bg-present { background-color: #b59f3b; }
.bg-absent { background-color: #3a3a3c; }
.bg-key { background-color: #818384; }

.border-correct { border-color: #538d4e;}
.border-present { border-color: #b59f3b; }
.border-absent { border-color: #3a3a3c; }
.border-tile { border-color: #3a3a3c; }

.w-board { width: 350px; }
.max-w-key { max-width: 2.2rem; }
.max-w-game { max-width: 500px; }

.h-58px { height: 58px; }
.h-50px { height: 50px; }
.h-game { height: calc(100% - 50px) }
.h-board { height: 420px; }
.h-keyboard { height: 200px; }
